@model List<ÜrünStokTakip.Models.Sepet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Session["Ad"]</h2>
<h3>Sepetim</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ürün Bilgisi</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Tarih</th>
            <th>Resim</th>
            <th>Sil</th>
            <th>Satın Al</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Urun.Ad</td>
                <td>@item.Adet</td>
                <td > @item.Fiyat</td>
                <td>@Convert.ToDateTime(item.Tarih).ToString("dd/mm/yyyy")</td>
                <td><img src="~/Content/images/@item.Urun.Resim" width="90" height="90" /></td>
                <td>
                    @if (User.IsInRole("U"))
                    {
                        <td>@Html.ActionLink("Sil","Sil",new { id=item.Id},new { @class="btn btn-danger",onclick = "return confirm('Silmek istiyor musunuz?')"})</td>
                        <td><a href="/Satislar/SatinAl/@item.Id" class="btn btn-success">Satın Al</a></td>
                    }
                
            </tr>
        }
</tbody>
</table>

<div class="container">
    @ViewBag.Tutar
</div>
<br />

<div class="form-group">
    <a href="/Satislar/HepsiniSatınAl" class="btn btn-success form-control">Tümünü Satın Al</a> 
</div>

<div class=form-group>
    <a href="/Satislar/HepsiniSil" class="btn btn-danger form-control">Tümünü Sil</a>
</div>

